{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="shortcut icon" type="image/png" href="{% static '/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static '/css/styles.min.css' %}" />
  <style>
    body{
      background-color: rgb(255, 245, 245);
    }
  </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <div style="display: flex; justify-content: center; align-items: center;">
                  <a href="{% url 'home' %}" class="logo d-flex text-center" style="text-decoration: none;">
                    <h1>T14Blog</h1>
                  </a>
                </div>

                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" >
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark" for="flexCheckChecked">
                        Remeber this Device
                      </label>
                    </div>
                    <!-- <a class="text-primary fw-bold" href="{% url 'home' %}">Forgot Password ?</a> -->
                  </div>
                  <input type="submit" value="Sign In" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                  <input type="reset" value="Reset" class="btn btn-danger w-100 py-8 fs-4 mb-4 rounded-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to Blog?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'register' %}">Create an account</a>
                  </div>
                </form>
              </div>
              {% for messgae in messages %}
                <p id="messages">{{message}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static '/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>