<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- show modal-->
    <div class="modal fade" id="showmodal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showModalLabel">Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Title:</strong> <span id="title"></span></p>
                    <p><strong>Description:</strong> <span id="description"></span></p>
                    <p><strong>Category:</strong> <span id="category"></span></p>
                    <p><strong>Created At:</strong> <span id="created-at"></span></p>
                    <p><strong>Published:</strong> <span id="published"></span></p>
                    <p><strong>Author:</strong> <span id="author"></span></p>
                    <p><strong>Tags:</strong> <span id="tags"></span></p>
                    <p><strong>Image:</strong> <img id="image" src="" alt="Image"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Show modal -->
    
</body>
</html>
